{% assign letterstring = "a,b,c,d,e,f,g,h,i,j,k,l,m,n" %}
{% assign letters = letterstring | split: ',' %}
{% assign images = include.images | split: "," %}

<div class="gallery-container">
  <div class="gallery-wrapper">
    {% for item in images %}
    <div class="gallery-item"  style="background-image: url('{{ item }}');"></div>
    {% endfor %}
  </div>
  <button class="gallery-arrow gallery-arrow--left">&#10094;</button>
  <button class="gallery-arrow gallery-arrow--right">&#10095;</button>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    var images = document.querySelectorAll('.gallery-item');
    var maxAspectRatio = 0;

    images.forEach(function(image) {
      var img = new Image();
      img.src = image.style.backgroundImage.replace(/url\((['"])?(.*?)\1\)/gi, '$2');
      img.onload = function() {
        var aspectRatio = img.height / img.width;
        if (aspectRatio > maxAspectRatio) {
          maxAspectRatio = aspectRatio;
        }
        // Apply the padding-top based on the aspect ratio
        images.forEach(function(image) {
          var imgSrc = image.style.backgroundImage.replace(/url\((['"])?(.*?)\1\)/gi, '$2');
          var img = new Image();
          img.src = imgSrc;
          img.onload = function() {
            var aspectRatio = img.height / img.width;
            var paddingTop = (maxAspectRatio / aspectRatio) * 25 + '%';
            image.style.paddingTop = paddingTop;
          }
        });
      }
    });

    // Navigation
    var currentIndex = 0;
    var totalImages = images.length;
    var wrapper = document.querySelector('.gallery-wrapper');

    document.querySelector('.gallery-arrow--right').addEventListener('click', function() {
      currentIndex = (currentIndex + 1) % totalImages;
      wrapper.style.transform = 'translateX(' + (-100 * currentIndex) + '%)';
    });

    document.querySelector('.gallery-arrow--left').addEventListener('click', function() {
      currentIndex = (currentIndex - 1 + totalImages) % totalImages;
      wrapper.style.transform = 'translateX(' + (-100 * currentIndex) + '%)';
    });
  });
</script>

<style>
.gallery-container {
  position: relative;
  width: 100%;
  overflow: hidden;  /* Hide overflowing images */
}

.gallery-wrapper {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
  padding-block: 30px;
}

.gallery-item {
  min-width: 100%;  /* Ensure one image per view */
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: auto;  /* Height will be set dynamically */
  position: relative;
  padding-top: 56.25%;  /* Default aspect ratio, overwritten by JS */
}

.gallery-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
}

.gallery-arrow--left {
  left: 10px;
}

.gallery-arrow--right {
  right: 10px;
}

</style>

