---
---
<p>{{reference}}</p>

<div id="{{key}}-materials">
  <ul class="bibinfo">
    {% if entry.abstract %}
    <li><a data-toggle="collapse" href="#{{key}}-abstract">Abstract</a></li>
    {% endif %}

    {% if entry.url %}
    <li><a href="{{ entry.url }}">Direct Link</a></li>
    {% endif %}
    {% if entry.doi %}
    <li>DOI: <a href="http://dx.doi.org/{{entry.doi}}">{{entry.doi}}</a></li>
    {% endif %}
    {% if entry.videourl %}
    <li><a href="{{entry.videourl}}">Video</a></li>
    {% endif %}

    <li>
      <div class="bibTex" href="javascript:void(0);" onclick="toggleDiv('{{key}}-bibtex', this)">BibTeX {% include
        down-arrow.svg %}{% include up-arrow.svg %}</div>
    </li>
    <div id="{{key}}-bibtex" style="display:none; position: relative;">
      <svg class="copy" fill="#ffffff" height="1.75rem" width="1.75rem" version="1.1" id="Layer_1" viewBox="0 0 24 24"
        xml:space="preserve" onclick="copyToClipboard('{{key}}')">
        <g id="SVGRepo_iconCarrier">
          <path
            d="M17.5 14H19C20.1046 14 21 13.1046 21 12V5C21 3.89543 20.1046 3 19 3H12C10.8954 3 10 3.89543 10 5V6.5M5 10H12C13.1046 10 14 10.8954 14 12V19C14 20.1046 13.1046 21 12 21H5C3.89543 21 3 20.1046 3 19V12C3 10.8954 3.89543 10 5 10Z"
            stroke="currentColor" stroke-width="2.4" stroke-linecap="round" stroke-linejoin="round"></path>
        </g>
      </svg>
      <div id="{{key}}-tooltip" class="tooltip">Copied!</div>
      <pre class="collapse">{{entry.bibtex}}</pre>
    </div>
  </ul>

</div>